$font-color = #0d1f43
$second-hand = #d01c1c
$minute-hand = #41523f

html
    font-size 62.5%

body
    font-family helvetica, arial, sans-serif
    background url(img/broken-plane.jpg)
    background-size cover

h1
    font-size 67px
    font-size 6.7rem
    text-align center
    
.time-display
    color $font-color
    font-size 89px
    font-size 8.9rem
    text-align center
    
.timer-buttons
    text-align center
    
#timer-container
    margin 0 auto
    
.analog-timer
    position relative
    width: 500px
    height 500px
    margin 0 auto

.second-hand,
.minute-hand
    position absolute
    left 50%
    transform-origin 50% 100%
    
.second-hand
    width 5px
    height 100px
    background-color $second-hand
    
.minute-hand
    width 10px
    height 100px
    background-color $minute-hand

    
@media screen and (min-width 390px)
    .time-display
        font-size 111px
        font-size 11.1rem
    h1
        font-size 89px
        font-size 8.9rem
        text-align left